body {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    overflow-x:hidden;
    background-color: antiquewhite;
}

.header,.footer{
    background-color: #1f2937;
    color:aliceblue;
    padding:15px;
    width:100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    margin:12px;
    padding:8px;
}

#goBack {
    margin:12px 36px 12px auto;
    font-size:2em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.info{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.scoreboard{
    display:flex;
    flex-direction:column;
}

.scores{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:10px;
}

.choices{
    display:flex;   
    justify-content:space-between;
    gap:10px;
}

.info p{
    font-size: large;
    text-align: center;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap:1em;
    box-sizing:border-box;
}

.cards img{
    width: 300px;
    max-width:400px;
    border:2px solid #1f2937;
    border-radius: 12px;
    flex:1 1 auto;
}

img:hover{
    position: relative;
    top: 1px;
    left:1px;
    opacity:0.8;
    cursor: pointer;
    filter: drop-shadow(8px 8px 10px rgb(60, 0, 95)) invert(50%);
}

.footer{  
    display: flex;
    flex-flow: column nowrap;
    margin: auto 0 0 0;
    text-align: center;
}
