body {
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    background-color: antiquewhite;
}

.header, .footer{
    background-color: #1f2937;
    color:aliceblue;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

#title{
    margin:12px;
    padding:8px;
}

#goBack {
    margin:12px 12px 12px auto;
    padding:12px;
    font-size:16px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}

.score{
    display:flex;
    align-items: center;
    justify-content: center;
}

.info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:12px;
    padding:12px;
}

.info p{
    font-size: large;
    text-align: center;
}

.scoreboard{
    display:flex;
    flex-direction:column;
}

.scores{
    display:flex;
    justify-content:space-between;
}

.choices{
    display:flex;   
    justify-content:space-between;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.topcard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.bottomcards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}

#rock, #paper, #scissors{
    max-width:200px;
    margin:10px;
    padding:2px;
    border-radius: 15px;
}

img:hover{
    position: relative;
    top: 1px;
    left:1px;
    opacity:0.8;
    cursor: pointer;
    filter: drop-shadow(8px 8px 10px rgb(60, 0, 95)) invert(50%);
}

.footer{
    display:flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}
